$size-px: 20px;
$box-shadow: $size-px/2 $size-px/2 0 rgba(0, 0, 0, 0.1);
$border-bottom: $size-px/20 solid #F1F1F1;
$transition: background 0.2s;
$margin: $size-px+30 auto;
$border-left: $size-px/20 solid #D1E2FF;