@font-face {
  font-family: "ShieldFont";
  src: url("Bank Gothic Medium.ttf") format("truetype");
}
* {
  font-family: "ShieldFont";
}

.nav-item {
  margin-left: 4%;
  margin-right: 4%;
  text-align: right;
}

section {
  padding-top: 5%;
}

footer, header {
  background-color: rgb(100, 100, 100);
  position: fixed;
  overflow: hidden;
}

.card {
  max-height: 560px;
}

.noresize {
  resize: none; 
}

.multiselect {
  padding-top: 15px;
}

.container {
  height: 100%;
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100%;
  background-color: darkgrey;
  padding-left: 5%;
  padding-right: 5%;
}

.card {
  overflow: hidden;
}

.form {
  height: 600px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  flex: 1;
  overflow: auto;
}

.img-fluid {
  margin-bottom: 20px;
  margin-top: 5px;
}

section {
  text-align: justify;
}

.title {
  color: black;
  font-size: 25px;
  margin-right: 1.5%;
}

.md-form {
  padding-top: 15px;
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
