@font-face {
  font-family: "ShieldFont";
  src: url("Bank Gothic Medium.ttf") format("truetype");
}
* {
  font-family: "ShieldFont";
}

.nav-item {
  margin-left: 4%;
  margin-right: 4%;
  text-align: right;
}

header {
  background-color: rgb(100, 100, 100);
}

footer {
  margin-top: 5%;
  background-color: rgb(100, 100, 100);
}

body {
  background-color: darkgrey;
}

.img-fluid {
  margin-bottom: 20px;
  margin-top: 5px;
}

section {
  text-align: justify;
}

.title {
  color: black;
  font-size: 25px;
  margin-right: 1.5%;
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
